@model LightBox
@{
    var templateDetails = XT.GetTemplatePartDetails<LightBox>(td => GetControl<LightBox>().Configure());
    var ctrl = templateDetails.Control;
}
<div @ctrl.GetElementAttributes(true, true)>
    @ctrl.EncodedInnerHtml
</div>
