@model Link
@{
    var templateDetails = XT.GetTemplatePartDetails<Link>(td => GetControl<Link>().Configure(ViewBag.text ?? td.Text, td.Text));
    var ctrl = templateDetails.Control;
    // TODO: Make sure 'ctrl.Attributes' below doesn't cause ID and NAME to output twice.
}
<div class="form-group@(Html.ValidationMessageFor(m => m, " has-error"))">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox(
            templateDetails.PropertyName ?? ctrl.UniqueName,
            templateDetails.PropertyValue ?? ctrl.Href,
            ctrl.Attributes)
        @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
    </div>
</div>
tElementAttributes(true, true)>@ctrl.EncodedInnerHtml</a>