@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Various framework elements and components to help make the development of .Net Standard applications and ASP.Net Core MVC websites that much easier to deal with for the ASP.Net Core .Net cross-platform environment.
 The Core Extension libraries consist of various types and controls for no-nonsense rapid ASP.Net Core MVC website development.
</p>
<br/>
<a href="https://www.nuget.org/packages?q=Tags%3A%22CoreXT%22" target="_blank">NuGet Packages</a>