@model ActionLink
@{
    var templateDetails = XT.GetTemplatePartDetails<ActionLink>(td => GetControl<ActionLink>().Configure(ViewBag.text ?? td.Text, td.Text));
    var ctrl = templateDetails.Control;
}
<a @ctrl.GetElementAttributes(true, true)>@await ctrl.PrefixContent@ctrl.EncodedInnerHtml@await ctrl.PostfixContent</a>
