@{
    ViewData["Title"] = "Home";
}

Loading...

<x:template id="button" content="...">
    <button class="someClass">
        {{content}}
    </button>
</x:template>
<x:button>
    <x:button.content>
    </x:button.content>
</x:button>