@model PanelGroup
@{
    var templateDetails = XT.GetTemplatePartDetails<PanelGroup>(td => GetControl<PanelGroup>());
    var ctrl = templateDetails.Control;

    // (NOTICE: ALL attributes are dumped via ctrl.GetElementAttributes(), so we ONLY need to make sure the attributes and classes we need are set)

    ctrl.AddClass("panel-group");
}
<div @ctrl.GetElementAttributes(true, true)>
    @foreach(var panel in ctrl.Panels)
    { 
        @panel
    }
</div>

